@font-face {
  font-family: 'Flaticon';
  font-weight: normal;
  font-style: normal;

  src: url('../font/Flaticon.eot');
  src: url('../font/Flaticon.eot?#iefix') format('embedded-opentype'),
  url('../font/Flaticon.woff') format('woff'),
  url('../font/Flaticon.ttf') format('truetype'),
  url('../font/Flaticon.svg#Flaticon') format('svg');
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'Flaticon';

    src: url('./Flaticon.svg#Flaticon') format('svg');
  }
}

[class^='flaticon-']:before,
[class*=' flaticon-']:before,
[class^='flaticon-']:after,
[class*=' flaticon-']:after {
  font-family: Flaticon;
  font-style: normal;
}

.flaticon-skype-symbol:before {
  content: '\f100';
}
.flaticon-skype-logo-1:before {
  content: '\f101';
}
.flaticon-skype-logo:before {
  content: '\f102';
}
.flaticon-close-envelope:before {
  content: '\f103';
}
.flaticon-black-back-closed-envelope-shape:before {
  content: '\f104';
}
.flaticon-email-filled-closed-envelope:before {
  content: '\f105';
}


* {
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;

  margin: 0;
}

.l-header {
  overflow: hidden;

  padding: 30px;

  color: #fff;
  background-color: #000;
}

.l-header__inner {
  float: left;

  padding-right: 30px;
}

.container {
  margin: auto;
}

.b-title-page {
  margin-top: 0;
  margin-bottom: 6px;
}
.b-slogan {
  font-size: 22px;
}
.b-contacts {
  float: right;
}
.b-contacts__link {
  display: block;

  transition: all 0.3s;
  text-decoration: none;

  color: #fff;
  text-shadow: 1px 1px 0 #000;
}
.b-contacts__link .ic {
  display: inline-block;

  margin-right: 5px;
}
.b-contacts__link:hover {
  color: #000;
  text-shadow: 1px 1px 1px #fff, -1px -1px 1px #fff, -1px 1px 1px #fff, 1px -1px 1px #fff;
}



/* ---- isotope ---- */

.grid-item img {
  height: 100%;
}

.b-isotope {
  margin-bottom: 50px;
  padding-top: 40px;

  background: #fff;
}

.b-isotope:before,
.b-isotope:after {
  display: table;

  content: '';
}

.b-isotope:after {
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 33.3%;
}

.grid-item {
  padding-right: 30px;
  padding-bottom: 30px;
}

.b-isotope-filter {
  margin-left: 0;
  padding-right: 10px;

  text-align: right;
}

.b-isotope-filter > li {
  font-size: 14px;
  font-weight: 700;

  display: inline-block;

  margin-bottom: 16px;
  padding-left: 46px;

  text-transform: uppercase;
}

.b-isotope-filter > li > a {
  position: relative;

  -webkit-transition: all 0.3s;
          transition: all 0.3s;
  text-decoration: none;
  letter-spacing: 0;

  color: #aaa;
}

.b-isotope-filter > li.current a,
.b-isotope-filter > li:hover a {
  color: #333;
}

.b-isotope-grid {
  margin-bottom: 0;
  padding-left: 0;

  list-style-type: none;

  text-align: center;
}
.b-isotope-grid__inner {
  display: block;
}
.b-isotope-grid__title {
  display: block;
}

.tilter {
  position: relative;

  display: block;

  width: 300px;
  height: 300px;
  margin: auto;

  color: #fff;

  flex: none;
  perspective: 1000px;
}

.tilter * {
  pointer-events: none;
}

.tilter:hover,
.tilter:focus {
  color: #fff;
  outline: none;
}

.tilter__figure,
.tilter__image {
  display: block;

  width: 100%;
  height: 100%;
  margin: 0;
}

.tilter__figure > * {
  transform: translateZ(0px); /* Force correct stacking order */
}

.smooth .tilter__figure,
.smooth .tilter__deco--overlay,
.smooth .tilter__deco--lines,
.smooth .tilter__deco--shine div,
.smooth .tilter__caption {
  transition: transform 0.2s ease-out;
}

.tilter__figure {
  position: relative;
}

.tilter__figure::before {
  position: absolute;
  top: 5%;
  left: 5%;

  width: 90%;
  height: 90%;

  content: '';

  box-shadow: 0 30px 20px rgba(35,32,39,0.5);
}

.tilter__deco {
  position: absolute;
  top: 0;
  left: 0;

  overflow: hidden;

  width: 100%;
  height: 100%;
}



.tilter__deco--shine div {
  position: absolute;
  top: -50%;
  left: -50%;

  width: 200%;
  height: 200%;

  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.25) 50%, transparent 100%);
}

.tilter__deco--lines {
  display: none;

  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
}

.tilter__caption {
  position: absolute;
  bottom: 0;
  left: 0;

  padding: 4em;
}

.tilter__title {
  font-size: 2.5em;
  font-weight: normal;
  line-height: 1;

  margin: 0;

  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 31px 19px rgba(255, 255, 255, 0.7);
}

.tilter__description {
  font-size: 15px;
  font-weight: 700;

  margin: 1em 0 0 0;

  letter-spacing: 0.15em;

  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 0 31px 19px rgba(255, 255, 255, 0.7);
}

/* Example 3 (no lines, overlay hard-light) */


.tilter--3 .tilter__caption {
  padding: 2em;

  text-align: left;

  color: #000;
  text-shadow: 0.1em 0.8em 1em rgba(0,0,0,0.35);
}

/* ======= PRELOADER ========== */
.preloaderjs .spinner {
  display: none !important;
}

.preloaderjs#page-preloader {
  background: rgba(46, 46, 46, 0.99) !important;
}

#page-preloader {
  position: fixed;
  z-index: 100500;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: #fff;
}

#page-preloader .spinner {
  position: absolute;
  z-index: 1001;
  top: 25%;
  left: 50%;

  display: block;

  width: 50px;
  height: 50px;
  margin-top: -25px;
  margin-left: -25px;

  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;

  border: 3px solid transparent;
  border-radius: 50%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* :not(:required) hides this rule from IE9 and below */
.spinner:not(:required) {
  font-size: 10px;

  display: inline-block;
  overflow: hidden;

  width: 1em;
  height: 1em;
  margin: 1.5em;

  -webkit-animation: spinner 1500ms infinite linear;
     -moz-animation: spinner 1500ms infinite linear;
      -ms-animation: spinner 1500ms infinite linear;
       -o-animation: spinner 1500ms infinite linear;
          animation: spinner 1500ms infinite linear;
  text-indent: 100%;

  -webkit-border-radius: 0.5em;
     -moz-border-radius: 0.5em;
          border-radius: 0.5em;
  -webkit-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
     -moz-box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;
          box-shadow: rgba(0, 0, 51, 0.3) 1.5em 0 0 0, rgba(0, 0, 51, 0.3) 1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) 0 1.5em 0 0, rgba(0, 0, 51, 0.3) -1.1em 1.1em 0 0, rgba(0, 0, 51, 0.3) -1.5em 0 0 0, rgba(0, 0, 51, 0.3) -1.1em -1.1em 0 0, rgba(0, 0, 51, 0.3) 0 -1.5em 0 0, rgba(0, 0, 51, 0.3) 1.1em -1.1em 0 0;

      -ms-border-radius: 0.5em;
       -o-border-radius: 0.5em;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
       -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
       -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
         -o-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 991px) {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .grid-sizer,
  .grid-item {
    width: 100%;
  }
  .b-isotope-filter {
    margin-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .b-isotope-filter li {
    padding-left: 10px;
    padding-right: 10px;
  }
  .grid-item {
    padding-right: 0;
  }
  .b-contacts {
    float: none;
    margin-top: 20px;
  }
  .l-header__inner {
    float: none;
    padding-right: 0;
  }
  .b-contacts__link {
    display: inline-block;
    margin-right: 20px;
  }
  .b-contacts__link:last-child {
    margin-right: 0;
  }
}
