@font-face {
  font-family: 'Lato';
  font-weight: bold;
  font-style: normal;

  src: url('../font/lato-bold.eot');
  src: url('../font/lato-bold.eot?#iefix') format('embedded-opentype'),
  url('../font/lato-bold.woff2') format('woff2'),
  url('../font/lato-bold.woff') format('woff'),
  url('../font/lato-bold.ttf') format('truetype'),
  url('../font/lato-bold.svg#Lato-Bold') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 900;
  font-style: normal;

  src: url('../font/lato-black.eot');
  src: url('../font/lato-black.eot?#iefix') format('embedded-opentype'),
  url('../font/lato-black.woff2') format('woff2'),
  url('../font/lato-black.woff') format('woff'),
  url('../font/lato-black.ttf') format('truetype'),
  url('../font/lato-black.svg#Lato-Black') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 600;
  font-style: normal;

  src: url('../font/lato-semibold.eot');
  src: url('../font/lato-semibold.eot?#iefix') format('embedded-opentype'),
  url('../font/lato-semibold.woff2') format('woff2'),
  url('../font/lato-semibold.woff') format('woff'),
  url('../font/lato-semibold.ttf') format('truetype'),
  url('../font/lato-semibold.svg#Lato-Semibold') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 900;
  font-style: normal;

  src: url('../font/lato-heavy.eot');
  src: url('../font/lato-heavy.eot?#iefix') format('embedded-opentype'),
  url('../font/lato-heavy.woff2') format('woff2'),
  url('../font/lato-heavy.woff') format('woff'),
  url('../font/lato-heavy.ttf') format('truetype'),
  url('../font/lato-heavy.svg#Lato-Heavy') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 300;
  font-style: normal;

  src: url('../font/lato-light.eot');
  src: url('../font/lato-light.eot?#iefix') format('embedded-opentype'),
  url('../font/lato-light.woff2') format('woff2'),
  url('../font/lato-light.woff') format('woff'),
  url('../font/lato-light.ttf') format('truetype'),
  url('../font/lato-light.svg#Lato-Light') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 500;
  font-style: normal;

  src: url('../font/lato-medium.eot');
  src: url('../font/lato-medium.eot?#iefix') format('embedded-opentype'),
  url('../font/lato-medium.woff2') format('woff2'),
  url('../font/lato-medium.woff') format('woff'),
  url('../font/lato-medium.ttf') format('truetype'),
  url('../font/lato-medium.svg#Lato-Medium') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: normal;
  font-style: normal;

  src: url('../font/lato-regular.eot');
  src: url('../font/lato-regular.eot?#iefix') format('embedded-opentype'),
  url('../font/lato-regular.woff2') format('woff2'),
  url('../font/lato-regular.woff') format('woff'),
  url('../font/lato-regular.ttf') format('truetype'),
  url('../font/lato-regular.svg#Lato-Regular') format('svg');
}

@font-face {
  font-family: 'Lato';
  font-weight: 100;
  font-style: normal;

  src: url('../font/lato-thin.eot');
  src: url('../font/lato-thin.eot?#iefix') format('embedded-opentype'),
  url('../font/lato-thin.woff2') format('woff2'),
  url('../font/lato-thin.woff') format('woff'),
  url('../font/lato-thin.ttf') format('truetype'),
  url('../font/lato-thin.svg#Lato-Thin') format('svg');
}

html {
  font-family: sans-serif;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
  display: block;
}
h1,h2 {
  margin-top: 0;
}
a {
  background-color: transparent;
}
a:active,a:hover {
  outline: 0;
}
b,strong {
  font-weight: 700;
}
img {
  border: 0;
}
button,input,optgroup,select,textarea {
  margin: 0;
  font: inherit;
  color: inherit;
}
button {
  overflow: visible;
}
button,select {
  text-transform: none;
}
button,html input[type='button'],input[type='reset'],input[type='submit'] {
  cursor: pointer;

  -webkit-appearance: button;
}
button[disabled],html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
input {
  line-height: normal;
}
input[type='checkbox'],input[type='radio'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type='number']::-webkit-inner-spin-button,input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
input[type='search'] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;

  -webkit-appearance: textfield;
}
input[type='search']::-webkit-search-cancel-button,input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,.clearfix:after {
  display: table;
  content: ' ';
}
.clearfix:after {
  clear: both;
}


html,body {
  height: 100%;
}

body {
  margin: 0;
  font: 500 15px Lato, sans-serif;
  color: dimgrey;
}

.l-theme {
  max-width: 1920px;
  margin: auto;
}
.container {
  width: 1170px;
  margin: auto;
}
.btn {
  display: inline-block;
  height: 53px;
  padding: 0 10px;
  font: 600 13px/51px 'Open Sans';
  transition: all .3s;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  color: #131313;
  border: 1px solid black;
}
.btn:hover {
  color: #fff;
  border-color: #19b7f1;
  background-color: #19b7f1;
}


.b-main {
  height: 755px;
  text-align: center;
  background: url('../img/bg-main.jpg') no-repeat 50% 0;
}
.b-main__title {
  margin-bottom: 0;
  padding-top: 266px;
  font: 700 81px 'Open Sans Condensed';
  color: black;
}
.b-main__info {
  margin-bottom: 67px;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: .005em;
  text-transform: uppercase;
  color: #2c2c2c;
}
.b-main__link {
  width: 214px;
  margin: 0 10px;
}
.b-main__link_first:hover {
  color: #fff;
  border-color: #202020;
  background-color: #202020;
}
.b-main__link_last {
  color: #fff;
  border-color: #19b7f1;
  background-color: #19b7f1;
}
.b-main__link_last:hover {
  border-color: #0293be;
  background-color: #0293be;
}

.section-1 {
  padding-top: 117px;
}
.section-1__inner {
  float: left;
  width: 471px;
  padding-left: 56px;
}
.section-1__title {
  margin-bottom: 0;
  font-family: Lato;
  font-size: 29px;
  font-weight: 300;
  letter-spacing: -.025em;
  color: black;;;
}
.section-1__subtitle {
  margin-bottom: 20px;
  font-family: Lato;
  font-size: 29px;
  font-weight: 600;
  letter-spacing: -.025em;
  color: black;
}
.section-1__subtitle:after {
  display: block;
  width: 57px;
  height: 2px;
  margin-top: 17px;
  margin-left: -58px;
  content: '';
  background-color: black;
}
.section-1__info {
  margin-bottom: 27px;
  font-size: 17px;
  line-height: 30px;
}
.section-1 .btn {
  margin-left: 2px;
  padding: 0 17px;
}
.section-1__img {
  position: relative;
  float: right;
  margin: 27px 55px 0 0;
}

.section-1__img:after,.section-1__img:before {
  position: absolute;
  content: '';
}
.section-1__img:after {
  top: -29px;
  left: 256px;
  width: 2px;
  height: 29px;
  background-color: black;
}
.section-1__img:before {
  top: -28px;
  right: -53px;
  width: 57px;
  height: 2px;
  background-color: black;
}

.section-2 {
  margin-top: 94px;
  padding-top: 54px;
  padding-bottom: 16px;
  background: url('../img/bg_1.jpg') no-repeat 50%;
}
.b-advantages {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 293px;
  padding-left: 0;
  list-style-type: none;
}
.b-advantages__item {
  position: relative;
  display: inline-block;
  width: 50%;
  margin-right: -3px;
  margin-bottom: 42px;
  padding-left: 72px;
  vertical-align: top;
}
.b-advantages__title {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
}
.b-advantages__title:before {
  display: block;
  width: 15px;
  height: 1px;
  margin-bottom: 14px;
  content: '';
  background-color: black;
}
.b-advantages__info {
  padding-right: 103px;
  font-size: 14px;
  line-height: 19px;
}
.b-advantages__ic {
  position: absolute;
  top: 7px;
  left: 1px;
}

.b-advantages__item:nth-child(1) .b-advantages__ic {
  left: -2px;
}
.b-advantages__item:nth-child(4) .b-advantages__ic {
  left: 4px;
}

.section-3 {
  padding-top: 63px;
  padding-bottom: 92px;
}
.section-3__title {
  margin-bottom: -3px;
  margin-left: -4px;
  font-size: 54px;
  font-weight: 700;
  font-family: 'Open Sans Condensed';
  letter-spacing: -.025em;
  color: black;
}
.section-3__subtitle {
  margin-bottom: 67px;
  margin-left: -4px;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -.02em;
  color: #010101;
}


.b-steps {
  background-color: #fff;
}
html .b-steps .b-steps__img {
  float: left;
  width: 685px;
}
.b-steps__inner {
  float: right;
  width: 447px;
  padding: 20px 30px 0 0;
}
.b-steps__title {
  font-size: 29px;
  font-weight: 300;
  letter-spacing: -.025em;
  color: black;
}
.b-steps__subtitle {
  margin-bottom: 21px;
  font-size: 29px;
  font-weight: 600;
  letter-spacing: -.025em;
  color: black;
}
.b-steps__subtitle:after {
  content: '';
  width: 57px;
  height: 2px;
  background-color: black;
  margin-left: -55px;
  display: block;
  margin-top: 17px;
}
.b-steps__info {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: .01em;
  margin-bottom: 57px;
}
.b-steps__btn {
  margin-left: 4px;
  padding: 0 30px;
}

.b-steps__btn:hover {
  border-color: #252525;
  background-color: #252525;
}
.section-4 {
  height: 898px;
  padding-top: 120px;
  text-align: center;
  background: url('../img/bg_2.jpg') no-repeat 50%;
}
.section-4__title {
  font: 700 78px 'Open Sans Condensed';
  letter-spacing: -.015em;
  text-transform: uppercase;
  color: #080808;
}
.section-4__subtitle {
  font-size: 17px;
  letter-spacing: -.025em;
  color: #161616;
}

.section-5 {
  padding-top: 78px;
  padding-bottom: 60px;
}
.section-5__title {
  font-size: 27px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: black;
}
.section-5__subtitle {
  margin-bottom: 90px;
  font-size: 29px;
  font-weight: 300;
  text-align: center;
  letter-spacing: -.02em;
  color: black;
}
.b-steps-2 {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}
.b-steps-2__item {
  margin-bottom: 24px;
}
.b-steps-2__img {
  width: 50%;
}
.b-steps-2__inner {
  position: relative;
  width: 50%;
}
.b-steps-2__inner:after {
  position: absolute;
  top: 39px;
  display: block;
  width: 126px;
  height: 126px;
  content: '';
  border: 2px solid #e1e1e1;
}
.b-steps-2__number {
  position: relative;
  z-index: 1;
  font-size: 31px;
  color: #929292;
}
.b-steps-2__title {
  position: relative;
  z-index: 1;
  margin-bottom: 38px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  color: black;;
}
.b-steps-2__info {
  line-height: 26px;
}
.b-steps-2__item:nth-child(odd) .b-steps-2__img {
  float: left;
}
.b-steps-2__item:nth-child(odd) .b-steps-2__inner {
  float: right;
  padding: 94px 0 0 26px;
}
.b-steps-2__item:nth-child(odd) .b-steps-2__inner:after {
  left: -90px;
}
.b-steps-2__item:nth-child(odd) .b-steps-2__info {
  padding-right: 100px;
}





.b-steps-2__item:nth-child(even) .b-steps-2__img {
  float: right;
}
.b-steps-2__item:nth-child(even) .b-steps-2__inner {
  float: left;
  padding: 104px 27px 0 0;
  text-align: right;
}
.b-steps-2__item:nth-child(even) .b-steps-2__inner:after {
  top: 48px;
  right: -89px;
}
.b-steps-2__item:nth-child(even) .b-steps-2__info {
  padding-left: 100px;
}



.b-steps-2__item:nth-child(4) .b-steps-2__inner {
  padding-top: 93px;
}
.b-steps-2__item:nth-child(4) .b-steps-2__inner:after {
  top: 39px;
  ;
}
.b-steps-2__item:nth-child(3) {
  margin-bottom: 3px;
}

.b-steps-2__item:nth-child(2) {
  margin-bottom: -7px;
}
.b-steps-2__item:nth-child(2) .b-steps-2__img {
  position: relative;
  right: -16px;
}
.b-steps-2__item:nth-child(3) .b-steps-2__img {
  position: relative;
  left: -10px;
}
.b-steps-2__item:nth-child(4) .b-steps-2__img {
  position: relative;
  right: -26px;
}

.section-6 {
  height: 311px;
  padding-top: 122px;
  color: #fff;
  background: url('../img/bg_5.jpg') no-repeat 50%;
}
.section-6__inner {
  float: left;
}
.section-6__title {
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: 600;
  letter-spacing: -.03em;
  text-transform: uppercase;;
}
.section-6__subtitle {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: -.025em;
}
.section-6__btn {
  float: right;
  margin-top: 8px;
  margin-right: 33px;
  padding: 0 17px;
  color: #fff;
  border: 1px solid #f8f8f8;
}

.section-7 {
  padding-top: 66px;
  padding-bottom: 60px;
  text-align: center;
  background-color: #f7f7f7;
}
.section-7__title {
  position: relative;
  margin-bottom: 28px;
  font-family: 'Open Sans Condensed';
  font-size: 52px;
  font-weight: 700;
  letter-spacing: -.025em;
  color: black;
}
.section-7__title:before {
  display: block;
  width: 58px;
  height: 3px;
  margin: 0 auto 22px;
  content: '';
  background-color: black;
}
.section-7__info {
  width: 945px;
  margin: 0 auto 70px;
  font-size: 18px;
  line-height: 30px;
}
.section-7__row {
  margin-right: -30px;
}
.section-7__col {
  float: left;
  width: 50%;
}
.section-7__link {
  padding-top: 63px;
  padding-left: 150px;
  font-size: 25px;
  font-weight: 300;
  text-align: left;
  letter-spacing: -.025em;
  color: black;
}
.section-7__link .btn {
  margin-left: 56px;
  padding: 0 20px;
  vertical-align: middle;
  letter-spacing: 0;
}
.section-7__link .btn:hover {
  border-color: #252525;
  background-color: #252525;
}
.b-goods {
  position: relative;
  float: left;
  margin-bottom: 30px;
  padding-right: 26px;
  text-align: left;
  vertical-align: top;
}
.b-goods__link {
  display: block;
  padding-bottom: 17px;
  transition: all .3s;
  text-decoration: none;
  border: 1px solid transparent;
}
.b-goods__link:hover {
  border-color: #eee;
  background-color: white;
  box-shadow: 0 0 14.3px .8px rgba(0, 0, 0, .1);
}
.b-goods__img {
  position: relative;
  display: block;
}
.b-goods__img:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 5px;
  left: 0;
  content: '';
  transition: all .3s;
  opacity: 0;
  background-color: #000;
}
.b-goods__inner {
  display: block;
}
.b-goods__name {
  display: block;
  margin: 10px 14px 10px;
  color: #4b4b4b;
}
.b-goods__price {
  float: left;
  padding-left: 14px;
  font-size: 16px;
  font-weight: 800;
  color: #4b4b4b;
}
.b-goods__rating {
  float: right;
  padding: 4px 16px 0;
}
.b-goods__cart {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  transition: all .3s;
}
.b-goods:hover .b-goods__cart {
  width: 70px;
}
.b-goods:hover .b-goods__img:after {
  opacity: .25;
}

.section-8 {
  padding-top: 58px;
}
.section-8__title {
  margin-bottom: 27px;
  font-family: 'Open Sans Condensed';
  font-size: 52px;
  font-weight: 700;
  text-align: center;
  letter-spacing: -.027em;
  color: black;
}
.section-8__info {
  width: 950px;
  margin: 0 auto 62px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.b-delivery {
  float: left;
  width: 271px;
  height: 570px;
  padding: 21px 36px 0;
  background: url('../img/devivery-bg.jpg') no-repeat;
}
.b-delivery__title {
  margin-bottom: 28px;
  font-size: 16px;
  font-weight: 600;
  color: #797979;
}
.b-delivery__subtitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  color: black;
}
.b-delivery__list {
  padding-left: 0;
  line-height: 27px;
  list-style-type: none;
  color: #797979;
}
.b-delivery__list > li {
  display: inline-block;
}

.b-price {
  height: 570px;
  margin-right: 300px;
  margin-left: 300px;
  padding: 63px 80px 0 40px;
  font-size: 16px;
  font-weight: 700;
  color: black;
  background-color: whitesmoke;
}
.b-price-list {
  margin-top: 0;
  list-style-type: none;
}
.b-price-list__item {
  position: relative;
  margin-bottom: 29px;
}
.b-price-list__item:after {
  position: absolute;
  top: 12px;
  right: 0;
  left: 0;
  display: block;
  height: 1px;
  content: '';
  background-color: #e1e1e1;
}
.b-price-list__title {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding-right: 23px;
  background-color: whitesmoke;
}
.b-price-list__number {
  position: relative;
  z-index: 1;
  float: right;
  padding-left: 20px;
  background-color: whitesmoke;
}

.b-action {
  float: right;
  width: 271px;
  height: 570px;
  padding: 22px 29px 0;
  background: url('../img/action-bg.jpg') no-repeat 0 100%;
}
.b-action__title {
  margin-bottom: 28px;
  font-size: 16px;
  font-weight: 600;
  color: #797979;
}
.b-action__subtitle {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  color: black;
}

.section-9 {
  overflow: hidden;
  padding-top: 72px;
  padding-bottom: 50px;
}
.b-advantages-2 {
  margin-right: -107px;
  padding-left: 0;
  list-style-type: none;
  margin-top: 0;
}
.b-advantages-2__item {
  position: relative;
  display: inline-block;
  width: 33.3%;
  margin-right: -3px;
  padding-left: 69px;
  vertical-align: top;
}
.b-advantages-2__name {
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: black;
  margin-bottom: 21px;
}
.b-advantages-2__name:before {
  content: '';
  width: 14px;
  height: 1px;
  background-color: black;
  display: block;
  margin-bottom: 13px;
}
.b-advantages-2__info {
  width: 255px;
  font-size: 14px;
  line-height: 19px;
}
.b-advantages-2__ic {
  position: absolute;
  top: 5px;
  left: 0;
}

.b-advantages-2__item:first-child .b-advantages-2__ic {
  top: 0;
}
.section-10 {
  height: 595px;
  padding-top: 137px;
  text-align: center;
  background: url('../img/bg_3.jpg') no-repeat 50%;
}
.section-10__title {
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
  color: black;
}
.section-10__subtitle {
  margin-bottom: 50px;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: -.025em;
  color: black;
}
.section-10__info {
  width: 750px;
  margin: 0 auto 90px;
  font-size: 18px;
  line-height: 25px;
}
.section-10__label {
  display: inline-block;
  margin: 0 37px;
  font-size: 17px;
  font-weight: 300;
  text-transform: uppercase;
  color: black;
}
.section-10__label strong {
  display: inline-block;
  padding-right: 6px;
  font-size: 27px;
  font-weight: 500;
  text-transform: none;
}

.section-11 {
  padding-top: 30px;
  text-align: center;
}
.section-11__title {
  padding: 40px 0 110px;
  font-family: 'Open Sans Condensed';
  font-size: 54px;
  font-weight: 700;
  letter-spacing: -.02em;
  text-transform: uppercase;
  color: #080808;
  background: url('../img/decor.png') 50% 0 no-repeat;
}
.section-11__info {
  width: 958px;
  margin: auto;
  font-size: 18px;
  line-height: 30px;
  color: #474444;
}
.section-11__info strong {
  font-weight: 700;
  color: #292727;
}

.section-12 {
  overflow: hidden;
  margin-top: 74px;
  padding-top: 166px;
  padding-bottom: 146px;
  background: url('../img/bg_4.jpg') 50% 0 no-repeat;
}
.section-12 .container {
  width: 1212px;
}
.section-12__inner {
  padding-top: 0;
  background: url('../img/bg_6.jpg') no-repeat 0 0;
  box-shadow: 10px 10px 40px 0 rgba(64, 64, 64, .46);
}
.section-12__item {
  position: relative;
  float: left;
  width: 50%;
  height: 523px;
  padding-top: 104px;
  color: #000;
}
.section-12__title {
  margin-bottom: 57px;
  font-family: 'Open Sans Condensed';
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #080808;
}
.section-12__info {
  max-width: 470px;
  font-family: Lato;
  font-size: 20px;
  font-weight: 300;
}
.section-12__btn {
  position: absolute;
  bottom: 95px;
  padding: 0 22px;
}

.section-12__item_light {
  padding-right: 82px;
  text-align: right;
  color: #000;
}
.section-12__item_dark {
  padding-left: 80px;
  color: #fff;
}
.section-12__item_light .section-12__info {
  margin-left: auto;
  letter-spacing: -.025em;
}
.section-12__item_light .btn {
  right: 83px;
}
.section-12__item_light .btn:hover {
  border-color: #252525;
  background-color: #252525;
}
.section-12__item_dark .section-12__title {
  color: #fff;
}
.section-12__item_dark .section-12__info {
  padding-right: 30px;
  letter-spacing: -.02em;
}
.section-12__item_dark .btn {
  color: white;
  border-color: #fff;
}
.section-12__item_dark .btn:hover {
  border-color: #19b7f1;
}
.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.carousel-inner > .item {
  position: relative;
  display: none;
  height: 638px;
  -webkit-transition: .6s ease-in-out left;
  -o-transition: .6s ease-in-out left;
  transition: .6s ease-in-out left;
}
.carousel-inner > .item > img,.carousel-inner > .item > a > img {
  line-height: 1;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
    -o-transition: -o-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
  .carousel-inner > .item.next,.carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  .carousel-inner > .item.prev,.carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  .carousel-inner > .item.next.left,.carousel-inner > .item.prev.right,.carousel-inner > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.carousel-inner > .active,.carousel-inner > .next,.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  bottom: 0;
  left: 0;
}
.carousel-control.left {
  position: absolute;
  bottom: 2px;
  left: 58px;
  width: 38px;
  height: 10px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAKCAYAAADYUyzjAAAA2UlEQVQ4T2NkQAIvX74Utza317jz4MZBZPGBYDPCLL1//77E+fOXLpeWlIswMDLk3b17Y/JAOAhmJ9hh////Z75z584eL09/u3///j2+e++GwkA6CmQ32GGPHz9uCAoML3/37h3Lz19f+J48efJ9wB328OFD7QMHDl9pamwZaLeg2M949epV7TNnzg8+h4GcefXq1ca4uOSyD+8/DJ6ohCX+c+fO7QsPi7H5////o7v3bigOdLzCi4urV69KXDh/8XJdXdPgKS5goQNynJ9fkNbduzf3DXSIAQBdomrjQxEEmwAAAABJRU5ErkJggg==');
}
.carousel-control.right {
  position: absolute;
  bottom: -3px;
  left: 514px;
  width: 38px;
  height: 20px;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACYAAAAKCAYAAADYUyzjAAAAxElEQVQ4T2NkGARARUHD/ujJgzfExcVfwpzDONDuUlbWyGX4zzCpu6fzjaGhnq6iouILkJsG3GEgRygraTxgYmKS3bZ94yEVFRUXRkbGv4PCYTIyMpzsbDyfhISE/qxbv7JTVla2gVFZSeP/QEcnsv119TUMDg62OoPSYSYmhjqDKioFBAX+LFo0t0tbW7t+UDhMWUnjPiMjo9zKVUuOGBkZOQ2KxA8rLpqa6t4YGOrramtrD6LiQlndadOmdddgjgJlBgBULjeDovBD8AAAAABJRU5ErkJggg==');
  background-repeat: no-repeat;
  background-position: 50%;
}


.carousel-indicators {
  position: absolute;
  position: absolute;
  bottom: -14px;
  left: 149px;
  padding-left: 0;
  counter-reset: slides-num;
  text-align: center;
}

.carousel-indicators:after {
  position: absolute;
  top: -57px;
  left: 50%;
  display: inline-block;
  margin-left: 9px;
  content: counter(slides-num);
}

.carousel-indicators > li {
  display: inline-block;
  width: 60px;
  height: 12px;
  margin-right: 0;
  margin-left: 0;
  counter-increment: slides-num; /* Increment counter */
  cursor: pointer;
  transition: all .3s;
  border-bottom: 2px solid #e5e4e9;
}


.carousel-indicators > li.active,.carousel-indicators > li:hover {
  border-bottom-color: #434247;
}
.carousel-indicators:after,.carousel-indicators > li:before {
  font: 300 33px 'Open Sans Condensed';
  color: black;
}
.carousel-indicators > li.active:before {
  position: absolute;
  top: -57px;
  left: 50%;
  display: inline-block;
  margin-left: -17px ;
  content: counter(slides-num) '/' ;
}
