.header , .footer{
  color: #fff;
	height: auto !important;
	padding: 0px;
	text-align: center;
}

.preview-item{
 display: inline-block;
	margin: 0 15px;
	vertical-align: top;
	width: 215px;
}

.preview-item a{
	border: 1px solid #ccc;
	display: block;
	height: 260px;
	margin-bottom: 20px;
	overflow: hidden;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.preview-item:hover a{
	border-color: #e84c3d;
}


.preview-item img{
	width:100%;
	height:auto;
	position:relative;
		-webkit-transition: all 4.3s ease-out;
	-moz-transition: all 4.3s ease-out;
	-ms-transition: all 4.3s ease-out;
	-o-transition: all 4.3s ease-out;
	transition: all 4.3s ease-out
}

.preview-item h3{
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 20px;
	padding-bottom: 15px;
	position: relative;
}

.andmore{
  background: none repeat scroll 0 0 #000;
	color: #fff;
	display: inline-block;
	font-family: latobold;
	font-size: 24px;
	padding: 20px;
	text-align: center;
}


.andmore:hover{
	background:#d90000;
	text-decoration:none;

}

.content{
	display:inline-block;
}

.footer  h3 {
	font-size: 16px;
	margin-bottom: 20px;
	padding-bottom: 15px;
	position: relative;
	text-transform: uppercase;
}

.footer  h3  a{
	margin:0 10px;
}



body {
	background-color: #fe5656;
	background-size:cover;
	background-attachment:fixed;
	line-height: 1;
	height:100%;
	min-height:100%;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

.wrapper {
  margin: 0 auto;
	width: 1100px;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	 padding: 15px 55px 55px 55px;

}


/* Middle
-----------------------------------------------------------------------------*/
.content {
  background: none repeat scroll 0 0 #fff;
	color: #000;
	padding: 30px;
	text-align: center;
}




/* Footer
-----------------------------------------------------------------------------*/
.footer {
   border-top: 1px solid #ddd;
	margin-top: 10px;
	padding-top: 36px;

}
